<!-- Caixa com fundo branco -->
<div class="box-header well">

  <!-- legenda -->
  <legend>Lista de Matérias</legend>

  <!-- Pesquisa -->
  <form class="navbar-form pull-right" style="padding-bottom: 20px;">
    <%= form_tag materias_url, :method => :get, class: "navbar-search pull-right" do %>
        <%= text_field_tag(:query, ((params[:query])? params[:query].to_s : nil ), placeholder: "Pesquisar", class: "search-query") %>
        <%= submit_tag 'Buscar', :disable_with => "Buscando..." , :class=> "btn" %>
    <% end %>
  </form>

  <!-- tabela com a listagem -->
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Matéria</th>
      <th>Professor</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @materias.each do |materia| %>
      <tr>
        <td><%= materia.nome %></td>

        <td><%= materia.professor.nome %></td>


        <!-- Visualizar -->
        <td width="30px">
          <%= link_to materia, class: "btn btn-info", remote: false do %>
              <i class="icon-eye-open icon-white"></i>
          <% end %>
        </td>

        <!-- editar -->
        <td width="30px">
          <%= link_to edit_materia_path(materia), class: "btn btn-success", remote: false do %>
              <i class="icon-edit icon-white"></i>
          <% end %>
        </td>

        <!-- Deletar -->
        <td width="30px">
          <%= link_to materia, method: :delete, data: { confirm: 'Você tem certeza?' } , class: "btn btn-danger", remote: false do %>
              <i class="icon-trash icon-white"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </table>
</div>

<!-- Btn add -->
<%= link_to 'Adicionar matéria', new_materia_path, :class => 'btn' %>

